<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812008148281-r04tmgu9eieicmuuaba2a1ah3f1k6n8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812008148281-r04tmgu9eieicmuuaba2a1ah3f1k6n8g</string>
	<key>API_KEY</key>
	<string>AIzaSyAOgaRY49BgvzLQ_b0vz6ufUFOBlB4E4B0</string>
	<key>GCM_SENDER_ID</key>
	<string>812008148281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-d0443</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-d0443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812008148281:ios:7738fe742be9f442</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-auth-d0443.firebaseio.com</string>
</dict>
</plist>